.dashboardsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.2em;
    margin-right: 0.5em;
}

.dashboardText {
    display: flex;
    align-items: center;
}

.title {
    margin: 0 0.95em 0 1.12em;
    font-size: 1.6em;
    font-weight: 400;
    color: #939496;
}

.greeting {
    font-size: 0.8em;
    font-weight: 100;
    color: #c3c2c2;
}

.addWidget {
    display: flex;
    align-items: center;
}

.addWidgetText {
    margin-right: 1.5em;
    font-size: 0.93em;
    font-weight: 400;
    color: #fff;
}

.addWidgetBtn {
    padding: 0.2em;
    line-height: 0;
    background: none;
    border: 1.5px solid #646569;
    border-radius: 4px;
    opacity: .7;
    cursor: pointer;
    transition: color .1s ease-in-out, border-color .03s ease-in-out;

    &:hover,
    &:focus {
        border-color: #fff;
        outline: none;
    }

    svg {
        width: 1.52em;
        padding: 0.3em;
        fill: #3d404a;
        transition: fill .1s ease-in-out;

        &:hover {
            fill: #fff;
        }
    }
}