.headerRight {
    display: flex;
    align-items: center;
    padding: 1.4em 3.4em 1.4em 0;
}


.searchBox {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-right: 1em;

    &:before {
        content: '';
        position: absolute;
        top: -2.13em;
        left: -2.3em;
        display: block;
        width: 2px;
        height: 228%;
        background-color: #bfc0c2;
        opacity: .4;
    }
}

.inputSearch {
    width: 1.4em;
    height: 2.4em;
    padding: 0.5em;
    font-family: "Roboto";
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
    background: none;
    border: 2px solid #24262d;
    border-radius: 7px;
    outline: none;
    transition: all .5s ease-in-out;
        
}

.inputSearch::placeholder {
    font-size: 0.9em;
    font-weight: 100;
    color:rgba(255, 255, 255, .5);
}

.btnSearch {
    position: absolute;
    top: 4px;
    right: 5px;
    background-color: #24262d;
    border-style: none;
    outline: none;
    cursor: pointer;
    pointer-events: painted;  
    transition: all .1s ease-in-out;

    & svg {
        width: 2.4em;
        fill: #b7b8ba;
        transition: fill .2s ease-in-out;

        &:hover {
            fill: #fff;
        }
    }
}

.btnSearch:focus ~ .inputSearch {
    width: 30em;
    padding-right: 2.8em;
    border-color: #000;
}

.inputSearch:focus {
    width: 30em;
    padding-right: 2.8em;
    border-color: #000;
}

.bellBtn {
    position: relative;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background: none;
    border: none;
    cursor: pointer;

    & svg {
        width: 2.4em;
        fill: #b7b8ba;
        transition: fill .2s ease-in-out;
   
        &:hover {
            fill: #fff;
        }
    }

    &:after,
    &:before {
        content: '';
        display: block;
        width: 2px;
        height: 201%;
        background-color: #bfc0c2;
        opacity: .4;
    }

    &:after {
        position: absolute;
        top: -2.13em;
        right: 0;
    }

    &:before {
        position: absolute;
        top: -2.13em;
        left: 0;
    }
}

.headerNotification {
    position: absolute;
    top: 2%;
    right: 21%;
    z-index: 1;
    padding: 1px 0;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
    color: #fefefe;
    line-height: 1.2;
    background-color: #d11e5b;
    border-radius: 66.6em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
}


.headerUser {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.headerAvatar {
    position: relative;
    overflow: hidden;
    width: 2.1em;
    height: 2.1em;
    margin: 0 0.5em 0 1.5em;
    border-radius: 66.6em;

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2.1em;
        height: 2.1em;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}

.userName {
    font-size: 0.66em;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.userRights {
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.dropDownBtn {
    padding: 0.4em 0.4em 0.4em 0.4em;
    font-weight: 400;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.dropDownHeader {
    position: relative;
    display: inline-block;
}
  
  .dropDownBtn {
    padding: 0.4em 0.4em 0.4em 0.4em;
    font-weight: 400;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

  .dropdownWrapper {
    position: absolute;
    top: 219%;
    left: -842%;
    z-index: 2;
    width: 15em;
  }
  
  .dropdownMenu {
    list-style: none;
    box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.7);
  
    & li {
      padding: 0.9em 0;
      text-align: center;
      background-color: #24262d;
      border-bottom: solid 2px #33353b;
      transition: background-color .2s ease-in-out;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background-color: #212228;
        cursor: pointer;
      }

      & a {
        font-size: 1em;
        font-weight: 400;
        color: #bfc0c2;
        text-decoration: none;
      }
    }
  }

@media (max-width: 1160px) {
    .headerRight {
        padding: 1.4em 1.5em 1.4em 0;
    }
}


