@use './../../../../../mixins/' as *;

.contactItems {
  @include dFlexSpaceBetween;
  align-items: center;
  border-bottom: solid 2px #33353b;
  margin-bottom: 0.5em;

  &:last-of-type {
    margin-bottom: 1em;
  }
}

.contactUserItems {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 0.66em;
}

.contactAvatar {
  width: 3.4em;
  height: 3.4em;
  margin-right: 0.73em;
  background-color: #3d404a;
  border-radius: 66.6em;
}

.contactUsername {
  margin-right: 0.33em;
  font-size: 0.9em;
  font-weight: 400;
  color: #fff;
}

.contactWorkplace {
  font-size: 0.7em;
  color: #fff;
}

.statusCircleOnline {
  position: absolute;
  top: 1.06em;
  right: -0.53em;
  width: 0.46em;
  height: 0.46em;
  background-color: #6fe7dd;
  border-radius: 66.6em;
}

.statusCircleOffline {
  background-color: #000;
}

.contactIcons {
  display: flex;
  
  button {
    margin-right: 1.13em;
    background: none;
    border: none;
    cursor: pointer;

     
  &:last-of-type {
    margin-right: 0;
  }
    
    svg {
      width: 1.8em;
      height: 1.8em;
      fill: #a1a1a5;

      &:hover {
        fill: #fff;
      }
    }
   
    &:last-child svg {
      margin-top: -0.3em;
    }
  }
}
