.editorContainer {
    width: 100%;
}

.text {
    display: flex;
    align-items: center;
}

.title {
    margin-right:0.95em;
    font-size: 1.6em;
    font-weight: 400;
    color: #939496;
}

.greeting {
    margin-right: 0.9em;
    font-size: 0.8em;
    font-weight: 100;
    color: #c3c2c2;
}