@use '../../../../mixins/' as *;

.contactsWidget {
  @include widgetShadowAndBg;
  padding: 1.93em 1.73em 3.66em 1.73em;
  margin-right: 1em;
}

.contactsWidgetHeader {
  @include dFlexSpaceBetween;
  @include widgetTitle;
}

.contactsWidgetBottom {
  display: flex;
  justify-content: center;

  & input {
    margin-right: 0.45em;
    padding-left: 0.85em;
    width: 20em;
    height: 3em;
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    background: #282a31;
    border: 2px solid #000;
    border-radius: 0.4em;
    opacity: 0.4;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &:focus {
      color: #fff;
      outline: none;
    }
  }

  & button {
    padding: 0.05em 0.09em 0 0.09em;
    background: #282a31;
    border: 2px solid #000;
    border-radius: 0.4em;
    opacity: 0.4;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    & svg {
      width: 3.5em;
      height: 3.5em;  
      padding: 0.5em;
      fill: #44464c;
      transition: fill .2s ease-in-out;

      &:hover {
        fill: #fff;
        cursor: pointer;
      }
    }
  }
}