@use '../../../../mixins/' as *;

.contactsWidget {
  @include widgetShadowAndBg;
  margin-bottom: 1em;
  width: 500px;
}

.contactsWidgetHeader {
  margin-bottom: 2em;
  @include dFlexSpaceBetween;
  @include widgetTitle;
}

.contactsWidgetHeader div {
  transform: rotate(-90deg);
}
