.dashboards {
    padding: 1.07em 3em 0 1em;
    width: 100%;
}

.charts {
    display: flex;
    margin-bottom: 1em;
}
  
.mainChart {
    flex-grow: 70;
    margin-right: 0.6em;
}

.sideCharts {
    flex-grow: 30;
}

.dashboardTwoColumnRow {
    display: flex;
    justify-content: space-between; 
}
