<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
    {{> sprite }}

    <div class="page-container">
        {{> header }}

        {{> body }}

        {{> footer }}
    </div>

    <script src="assets/js/app.js"></script>
    <script type="text/javascript">
        console.log('Thanks')
        
        async function getData (url = '') {
             
            return fetch(url)
                .then(response => response.json())
                .then(data => data)
        }
      
        async function postData(url = '', data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *client
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return await response.json(); // parses JSON response into native JavaScript objects
        }

        const contact = document.getElementsByClassName('contact__text')
        console.log({contact})
        // const allPage = document.getElementsByTagName('*')
        const allPAgeValues = Object.values(contact)

        let allPageText = allPAgeValues.filter(element => {
            if ((element.text || element.textContent !== '') && element.localName !== 'script') {
                return true 
            } 
        })
        console.log(allPageText)
        const navigationLinks = document.getElementsByClassName('header-bottom__link')
        // console.log(navigationLinks)
        // console.log(typeof navigationLinks)

        const translateValue = Object.values(navigationLinks)
        const navigationTextArray =  translateValue.map(element => {
          console.log(element.textContent)  
          if (element.text) {
            return element.text 
          } 
        //   if (element.textContent) {
        //     return element.textContent 
        //   } 
        })
        console.log({navigationTextArray}) 

        
        const menuLang = document.getElementsByClassName('menu')
        console.log({menuLangTwo: menuLang[0]}) 
        
        getData('http://localhost:3001/getLanguages')
            .then(languagesListTwo => {
                let languagesListElementCollection = languagesListTwo.map(languageElement => {
                    let li = document.createElement('li')
                    li.innerHTML = `<a href='#${languageElement.code}'>${languageElement.name}</a>`
                    const linkA = li.querySelector('a')
                    console.log({linkA: linkA})
                    // console.log({linkA})
                    linkA.addEventListener('click', event => {
                        event.preventDefault()
                        // console.log({element: element.target.hash.substring(1)})
                        const languageCode = event.target.hash.substring(1)
                        translatePageText(languageCode)
                    })
                    menuLang[0].appendChild(li)
                })
                console.log({languagesListElementCollection})
                
                // li.textContent = 'Products';
                // menu.appendChild(li);

                // li = document.createElement('li');
                // li.textContent = 'About Us';

                // select the ul menu element
                // const menu = document.querySelector('#menu');
                // menu.appendChild(li);

                console.log({languagesListTwo})
            })

        const translatePageText = lang => {
            postData(
                'http://localhost:3001/translate', 
                {
                    "text": navigationTextArray, 
                    "lang": lang 
                }
            )
            .then((translatedTextArray) => {
                console.log({translatedTextArray}); // JSON data parsed by `response.json()` call
                translateValue.forEach((element, index) => {
                    element.text = translatedTextArray[index]
                })    
            });
        }    
    </script>           
</body>
</html>
