@use '../../../../mixins/' as *;

.tasksWidget {
  max-width: 31.55em;
  padding: 1.93em 1.73em 3.66em 1.73em;
  @include widgetShadowAndBg;
} 

.tasksWidgetHeader {
  margin-bottom: 1.5em;
  @include dFlexSpaceBetween;
  @include widgetTitle;
}

.tasksWidgetBottom {
  display: flex;
  justify-content: center;

  & input {
    margin-right: 0.45em;
    padding-left: 0.85em;
    width: 20em;
    height: 3em;
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    background: #282a31;
    border: 2px solid #000;
    border-radius: 0.4em;
    opacity: 0.4;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &:focus {
      color: #fff;
      outline: none;
    }
  }
  
  & button {
    display: flex;
    padding: 0 0.3em 0 0.3em;
    font-size: 2.5em;
    background: #282a31;
    border: 2px solid #000;
    border-radius: 0.2em;
    opacity: 0.4;
    transition: opacity .2s ease-in-out, color .2s ease-in-out;

    &:hover {
      color: #fff;
      opacity: 1;
    }  
  }
}