<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <img class="footer-top__logo" src="assets/images/footer-logo.png" alt="footer logo">
            <div class="footer__top-items">
                <nav class="footer__top-nav">
                    <a class="footer__top-nav__link" href="#">New collection</a>
                    <a class="footer__top-nav__link" href="#">Shop</a>
                    <a class="footer__top-nav__link" href="#">About us</a>
                    <a class="footer__top-nav__link" href="#">Contact</a>
                </nav>
                <div class="footer__top-info">
                    <a class="footer__top-info__link" href="#">Faqs</a>
                    <a class="footer__top-info__link" href="#">Privacy Policy</a>
                </div>
                <address class="footer__top__address">
                    <p>+00 123 456 789</p>
                    <p>Name street</p>
                    <p>123456 city name</p>
                    <p>Country</p>
                </address>
            </div>
        </div>
        <div class="footer__bottom">
            <span class="footer__bottom__copyright">Copyright | your name</span>
            <div class="footer__bottom__social">
                <a class="footer__bottom__social__link" href="https://www.instagram.com/" target="_blank">Instagram</a>
                <a class="footer__bottom__social__link" href="https://www.facebook.com/" target="_blank">Facebook</a>
                <a class="footer__bottom__social__link" href="https://www.twitter.com/" target="_blank">Twitter</a>
            </div>

            <div class="footer__bottom__icons">
                <a class="footer__bottom__item" href="https://www.facebook.com/" target="_blank">
                    <svg class="footer__bottom__icon">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
                <a class="footer__bottom__item" href="https://www.twitter.com/" target="_blank">
                    <svg class="footer__bottom__icon">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>
                <a class="footer__bottom__item" href="https://www.instagram.com/" target="_blank">
                    <svg class="footer__bottom__icon">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
