<header>
    <div class="header-top">
        <div class="dropdown closed">
            <div class="icon">Select language <span>&#9829</span></div>
            <ul class="menu">
            </ul>  
        </div>

        <div class="header-top__social">
            <a class="header-top__link" href="https://www.facebook.com/" target="_blank">Facebook</a>
            <a class="header-top__link" href="https://www.twitter.com/" target="_blank">Twitter</a>
            <a class="header-top__link" href="https://www.instagram.com/" target="_blank">Instagram</a>
        </div>

        <div class="header-top__icons">
            <a class="header-top__item" href="https://www.facebook.com/" target="_blank">
                <svg class="header-top__icon">
                    <use xlink:href="#facebook"></use>
                </svg>
            </a>
            <a class="header-top__item" href="https://www.twitter.com/" target="_blank">
                <svg class="header-top__icon">
                    <use xlink:href="#twitter"></use>
                </svg>
            </a>
            <a class="header-top__item" href="https://www.instagram.com/" target="_blank">
                <svg class="header-top__icon">
                    <use xlink:href="#instagram"></use>
                </svg>
            </a>
        </div>
    </div>

    <div class="header-bottom">
        <img class="header-bottom__logo" src="assets/images/header-logo.png" alt="fashion logo">
        <nav class="header-bottom__nav">
            <a class="header-bottom__link" href="#">New collection</a>
            <a class="header-bottom__link" href="#">Shop</a>
            <a class="header-bottom__link" href="#">About us</a>
            <a class="header-bottom__link" href="#">Contact</a>
        </nav>

         <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox">
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="#">New collection</a></li>
                <li><a class="menu__item" href="#">Shop</a></li>
                <li><a class="menu__item" href="#">About us</a></li>
                <li><a class="menu__item" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
