.editorTitle {
    width: 100%;
    height: 2em;
    margin-right: 0.45em;
    padding: 0.5em 0.85em;
    font-family: "Roboto";
    font-size: 2em;
    font-weight: 300;
    color: #fff;
    background: #373a44;
    border: none;
    border-radius: 0.2em;
    transition:border-color 0.2s ease-in-out;
    margin-bottom: 0.5em;

    &::placeholder {
      font-style: italic;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: #000;
      outline: none;
    }
}    