.dashboards {
    margin: 1.07em 3em 0 1em;
}

.charts {
    display: flex;
    margin-bottom: 1em;
}
  
.mainChart {
    flex-grow: 70;
    margin-right: 0.6em;
}

.sideCharts {
    flex-grow: 30;
}

.dashboardTwoColumnRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em; 
}

@media (max-width: 1300px) {
    .charts {
        flex-direction: column;
    }

    .mainChart {
        margin: 0 0 1em 0;
        flex-grow: 0;
    }
}

@media (max-width: 1160px) {
    .dashboards {
        margin: 1.07em 1em 0 1em;
    }
}