.bellIcon {
    position: relative;
    padding: 0 1.53em 0 1.53em;
    
    &:after {
        content: '';
        position: absolute;
        top: -2.13em;
        right: 0;        
        display: block;
        width: 2px;
        height: 265%;
        background-color: #bfc0c2;
        opacity: .4;
    }

    svg {
        width: 28px;   
        height: 28px;
        fill: #b7b8ba;
        transition: fill .1s ease-in-out;
    }

    &:hover svg {
        fill: #fff;
    }
}