.container {
    height: 100vh;
    background-color: #101010;
    .header {
        padding: 15px 20px;
        background-color: #30118c;
        h1 {
            color: rgb(250, 180, 5);
        }
    }
}
