.container {
    display: flex;
    align-items: start;
    align-content: center;
    // margin: 0 auto;
    min-height: 90vh;

    & > a {
        width: 265px;
        margin-right: 2em;
        text-decoration: none;
        color: white;
    }
}

.project {
    padding: 10px;
    border: .1px #fff solid;
    
    &:hover {
        cursor: pointer;
    }
}

.title {
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.description {
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.folder {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    background-color: #dc8206;
    border-radius: 0 10px 10px 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .7);
    font-weight: 600;

    &:before {
        content: '';
        width: 50%;
        height: 12px;
        border-radius: 0 20px 0 0;
        background-color: #a6650b;
        position: absolute;
        top: -12px;
        left: 0px;
    }

    &:after {
        content: '';
        width: 100%;
        height: 6px;
        background-color: #fff;
        position: absolute;
        top: 15px;
    }
}

.gear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background: #d2d8d9;
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    right: -4px;
  }
  
.gearInner {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #dc8206;
    z-index: 1;
    box-shadow: inset 3px 3px 5px #bb6f05, inset -3px -3px 5px #fd9607;
}
  
.bar {
    width: 41px;
    height: 9px;
    background: #d2d8d9;
    border-radius: 3px;
    position: absolute;

    &:nth-child(2) {
        transform: rotate(45deg);
    }

    &:nth-child(3) {
        transform: rotate(90deg);
    }

    &:nth-child(4) {
        transform: rotate(135deg);
    }
}
  