.container {
    display: flex;
    margin: 0 auto;
    min-height: 90vh;
}

.project {
    margin-right: 2em;
    height: fit-content;
    border: 2px #fff solid;

    &:hover {
        cursor: pointer;
    }
}
