<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style-contacts.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="table">
		<div class="th">
			<div class="td">Name</div>
			<div class="td">Email</div>
			<div class="td">Message</div>
			<div class="td">Actions</div>
		</div>
		<%data.forEach(child => {%>
			<div id=<%=child.id%> class="tr">
				<div class="td"><%=child.name%></div>
				<div class="td email"><%=child.email%></div>
				<div class="td"><%=child.message%></div>
				<div class="td">
					<button class="table__btn" data-reply type="submit">Reply</button>
					<button class="table__btn" data-delete type="submit">Delete</button>
					<form class="" action="/sendEmail" method="post">
						<textarea class=""></textarea> 
							<button type="submit">Send</button>
					</form>
				</div>
			</div>
		<%})%>
	</div>
	<script type="text/javascript">

		const deleteButtons = document.querySelectorAll("[data-delete]") 
		const replyButtons = document.querySelectorAll("[data-reply]")

		deleteButtons.forEach(elem => {
			elem.addEventListener("click", event => {
        remove(event.target.parentNode.parentNode.id)
				location.reload()
      })
		})

		function remove(id){
			fetch("http://localhost:3001/deleteContactFormData/" + id, {
				method: 'DELETE'
			}).then(() => {
				console.log('removed');
			}).catch(err => {
				console.error(err)
			});
		}
		
		replyButtons.forEach(elem => {
			elem.addEventListener("click", event => {
				let text = event.target.closest("div.td").querySelector('textarea')
				let form = event.target.closest("div.td").querySelector('form')
				let email = event.target.parentNode.parentNode.querySelector('.email').innerText
				text.focus()

				form.addEventListener("submit", function (event) {
					event.preventDefault();
					let data = {
						sentText: text.value,
						sentEmail: email
					}
					fetch('http://localhost:3001/sendEmail', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify(data),
					})
					.then(response => response.json())
					.then(data => {
						console.log('Success:', data);
					})
					.catch((error) => {
						console.error('Error:', error);
					})
				})
      })
		})
	</script>		
</body>
</html>