<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style-contacts.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="table">
		<div class="th">
			<div class="td">Name</div>
			<div class="td">Email</div>
			<div class="td">Message</div>
			<div class="td">Actions</div>
		</div>
		<%data.forEach(child => {%>
			<div id=<%=child.id%> class="tr">
				<div class="td"><%=child.name%></div>
				<div class="td"><%=child.email%></div>
				<div class="td"><%=child.message%></div>
				<div class="td">
					<button class="table__btn" type="submit">Reply</button>
					<button class="table__btn" data-delete type="submit">Delete</button>
				</div>
			</div>
		<%})%>
		<div class="tr">
			<div class="tdr">
				<form class="" id="reply-contact-form" action="">
					<textarea class="" id="response-input-field" ></textarea> 
						<button type="submit">Send</button>
					</form>
			</div>  
			
		</div>
	</div>
	<script type="text/javascript">

		const buttons = document.querySelectorAll("[data-delete]") 

		console.log("buttons", buttons)
		buttons.forEach(elem => {
			elem.addEventListener("click", event => {
        remove(event.target.parentNode.parentNode.id)
				location.reload()
      })
		})

		function remove(id){
			fetch("http://localhost:3001/deleteContactFormData/" + id, {
				method: 'DELETE'
			}).then(() => {
				console.log('removed');
			}).catch(err => {
				console.error(err)
			});
		}	
	</script>		
</body>
</html>