<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style-contacts.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="table">
    <div class="th">
      <div class="td">Name</div>
      <div class="td">Email</div>
      <div class="td">Message</div>
      <div class="td">Actions</div>
    </div>
    <%data.forEach(child => {%>
      <div class="tr">
        <div class="td"><%=child.name%></div>
        <div class="td"><%=child.email%></div>
        <div class="td"><%=child.message%></div>
        <div class="td">
          <button class="contact__btn" type="submit">Reply</button>
          <button class="contact__btn" type="submit">Delete</button>
        </div>
      </div>
    <%})%>
  </div>
</body>
</html>