version: '2'
services:
    base:
        image: node:13
        volumes:
            - .:/usr/src/service
        working_dir: /usr/src/service
    init-db:
        extends:
            service: base
        command: npm run init-db
    install:
        extends:
            service: base
        command: npm i -f
    build:
        extends:
            service: base
        command: npm run build
    create-bundles:
        extends:
            service: base
        command: npm run create-bundles
